
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<center>
    <br />
    <br />
    <br /> <table width="700px" height="600px">
        <tr>
            <td>
                <img src="~/Content/img/breakfast-1.jpg" height="600px" width="500px" />
            </td>
            <td>
                <div>
                    <h1 class="abouttexth1">About Company</h1><br />
                    <div>
                        <p class="abouttextp">
                            Online Food Ordering  Center><br />
                            Sector 05, Bhavanagar City<br />
                            Gujrat - 364040<br />
                            India
                        </p>
                    </div>
                </div>
            </td>
        </tr>
    </table>

    <br />
    <br />
    <br />
</center>

